.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 10;
}

.heart-icon {
    width: 28px;
    height: 28px;
    transition: .3s;
}

.heart-icon:hover {
    transform: scale(1.05);
}

.heart-icon:active {
    transform: scale(1.2);
}

.heart.not-favorited .heart-icon path {
    fill: #ffffff;
}

.heart.favorited .heart-icon path {
    fill: #ff0000;
}
